!!!
%html{lang: 'hu', prefix: 'og: http://ogp.me/ns#'}
  %head
    / Theme Made By www.w3schools.com - No Copyright
    %title Konnek Live
    %meta{charset: 'utf-8'}
    %link{href: 'stylesheets/style.css', rel: 'stylesheet'}
    %link{href: 'https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto', rel: 'stylesheet'}
%body
  %header.green
    %h2
      Tudd meg, mi rejlik 30+ szakma mindennapjai mögött!
  %section.title
    %img{src: 'images/konnekt_live-logo.png', alt: 'Konnekt Live logo'}
  %section.white
    %h2
      Középiskolásoknak huszonévesektől
      %br
      Szakmák testközelből
    %p
      Május 26-án 200 középiskolás diák több mint 30 különböző szakmát ismerhet meg közvetlen közelről. Egy teljes napon keresztül szabadon beszélgethetsz fiatal felnőttekkel a szakmájukról, szakmabeli mindennapjaikról és az ahhoz vezető útjukról. Egy rendezett kavalkádot hozunk létre, tele szakmákról beszélgető asztaltársaságokkal, melyekhez bármikor csatlakozhatsz. Szabadon mozoghatsz egyik szakmabelitől a másikhoz, felteheted nekik a kérdéseidet és meghallgathatod a történeteiket. Mindemellett pedig izgalmas előadásokkal, fórumbeszélgetésekkel és interaktív programokkal is készülünk.
  %section.grey
    %h2
      További információ hamarosan
  %section.green.bottom
    %h2
      Konnekt LIVE hírlevél
    %h6
      Iratkozz fel, ha nem akarsz lemaradni.
    %form
      %input{name: 'email', class: 'email', placeholder: 'Email cím'}
      %input{type: 'submit', value: 'Feliratkozom'}
  %section.white
    .scroller
      %a{href: '#top'}
        %img{src: 'images/arrow.png'}
        Tetejére
    %h3
      %a{href: 'http://knnkt.org', target: '_blank'}
        ©2018 Konnekt Egyesület
